<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p -- %m  Thr:[%-16t] %n" />
		</layout>
	</appender>
	
	<appender name="errorAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/errors.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p -- %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/connector.log" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p -- %m %n" />
		</layout>
	</appender>

		
	<!-- ==================== L O G G E R S ===================== -->

	<logger name="com.foreks" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="fileAppender" />
	</logger>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="fileAppender"/>
	</root>
</log4j:configuration>
